doctype html
html
  head
    title #{title}
    link(href='css/styles.css', media='all', rel='stylesheet', type='text/css')
  body
    div
      h1 Project's List
    div
      ul
      - if (projects)
        - each project in projects
          li #{project.name}
