extends layout
block content
  div.wrapper
    .container-fluid
      div.row
        p &nbsp;
      div.row
        .col-lg-8
          .panel.panel-default
            .panel-heading
              h2 Project's List
            .panel-body
              .table-responsive.table-bordered
                table.table
                  thead
                    tr
                      th Name
                      th Path
                      th Recursive
                  tbody
                  - each project in projects
                    tr(id="#{project.id}")
                      td #{project.name}
                      td #{project.path}
                      td #{project.recursive}
        .col-lg-4
          .panel.panel-default
            .panel-heading
              h2 Add New Project
            .panel-body
              a(href="/new-project") Add new project
