extends layout
block content
  div.wrapper
    .container-fluid
      div.row
        p &nbsp;
      div.row
        .col-lg-12
          .panel.panel-default
            .panel-heading
              h2
                b Project: 
                |#{project.name}
              h4 
                b Path: 
                |#{project.path}
            .panel-body
              if project
                .table-responsive.table-bordered
                  table.table
                    thead
                      tr
                        th Date
                        th # Files
                        th Average MI
                    tbody
                    - each review, i in project.reviews
                      tr
                        td #{review.date}
                        td _
                        td __
              else
                p You don't have any projects.
      if invalid
        p.bg-danger El ID ingresado es inválido.
